.Tip{
    margin: 20px 0px;
}


.TipContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
    padding-right: 40px;
}

.TipContainer button{
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #00474b;
    width: 27%;
    margin-bottom: 15px;
}

.TipContainer button:hover{
    background-color: #9FE8DF;
    color: #00474b;
}

.Tip input{
    display: inline-block;
    width: 20%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #00474B;
    background-color: #F3F9F9;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    height: 25px;
}

@media(max-width:525px){
    .TipContainer button{
        width: 47%;
    }

    .TipContainer{
        padding-right: 0px;
    }

    .Tip input{
        width: 38%;
        text-align: center;
    }
}
