@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.Title{
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #00474B;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 20px;
 }