.CalculatorContainer{
    background-color: #FFFFFF;
    border-radius:40px ;
    width: 80%;
    max-width: 800px;
    margin-bottom: 70px;
    padding: 20px 25px 20px 35px;
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:525px){
    .CalculatorContainer{
        width: 100%;
    }
}